<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="app">
  <%- partial('/_shared/header') %>

  <main class="mdl-layout__content">
    <section class="mdl-grid">
      <form action="#" method="POST" class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="post" v-on:submit.prevent="onSubmit" v-on:reset.prevent="onReset">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Creating a new post</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>{{ user || 'Not logged in' }}</p>
          <div>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" name="title" v-model="title" required v-bind:readonly="busy">
              <label class="mdl-textfield__label" for="title">Title</label>
            </div>
          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text" rows="10" name="body" v-model="body" required v-bind:readonly="busy"></textarea>
              <label class="mdl-textfield__label" for="body">Body</label>
            </div>
          </div>
          <div>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="datetime" name="createdAt" v-model="createdAt" required v-bind:readonly="busy">
              <label class="mdl-textfield__label" for="createdAt">Date / Time</label>
            </div>
          </div>
        </div>
        <div class="mdl-card__actions">
          <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Submit" v-bind:disabled="busy">
          <input class="mdl-button mdl-js-button mdl-button--raised" type="reset" value="Reset" v-bind:disabled="busy">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="onLogout" v-bind:disabled="busy">
            Logout
          </a>
        </div>
        <input type="hidden" name="idToken">
      </form>

      <article class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ title || 'Preview' }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p v-for="line in post.body.split('\n')" v-text="line"></p>
          <p>{{ localizeDate(createdAt) }}</p>
        </div>
      </article>
    </section>

    <%- partial('/_shared/footer') %>
  </main>

  <div class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>

<%- partial('/_shared/loginform') %>
<%- partial('/_shared/snackbar') %>

<script><%- include('create.js') %></script>
